<div class="menu">
    <a class="btn-link" href="#">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/user-admin.png" />
            <p class="menu-item-title">utilisateur</p>
        </div>
    </a><a class="btn-link" href="#">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/credit-card-admin.png" />
            <p class="menu-item-title">carte</p>
        </div>
    </a><a class="btn-link" href="#">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/employee.png" />
            <p class="menu-item-title">employé</p>
        </div>
    </a><a class="btn-link" href="#">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/car-admin.png" />
            <p class="menu-item-title">point de vente</p>
        </div>
    </a><a class="btn-link" href="#">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/settings.png" />
            <p class="menu-item-title">paramétrage</p>
        </div>
    </a>
</div>