<div class="menu">
    <a class="btn-link" href="/Accueil/Budget">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/icone-statistique.png" />
            <p class="menu-item-title">statistique</p>
        </div>
    </a><a class="btn-link" href="/Accueil">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/icone-carte.png" />
            <p class="menu-item-title">carte</p>
        </div>
    </a><a class="btn-link" href="/Accueil/PointDeVente">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/icone-point-de-vente.png" />
            <p class="menu-item-title">point de vente</p>
        </div>
    </a>
</div>