<div class="menu">
    <a class="btn-link" href="/PointDeVente/Index/@Session["UtilisateurId"]">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/icone-carte.png" />
            <p class="menu-item-title">carte</p>
        </div>
    </a>
    <a class="btn-link" href="/PointDeVente/Budget">
        <div class="menu-item">
            <img class="menu-item-img" src="/image/accueil/icone-budget.png" />
            <p class="menu-item-title">budget</p>
        </div>
    </a>
</div>