.modal-background
.modal-sm.modal-second
  .grid
    .grid__cell
      h2.modal-title Details de la vente
      .modal-body
        #js-body-details
          table.table-default.table-liste.table-modal
            thead
                td.table-header Quantite
                td.table-header Date de la vente
            tbody
              tr.table-body.table-body-light.table-body-row
                td .
                td .
                td .
              tr.table-body.table-body-light.table-body-row
                td .
                td .
                td .
              tr.table-body.table-body-light.table-body-row
                td .
                td .
                td .
              tr.table-body.table-body-light.table-body-row
                td .
                td .
                td .
        a.btn-dark.btn-close-second.btn-link(href="#") fermer