.modal-background-detail
.modal-right.modal-sm.modal
  .grid
    .grid__cell
      h2.modal-title détail
      .modal-body
        #detail-body
          .label-bloc
            tr
              td
                p.label-bloc-title title
              td
                p.label-bloc-content description
        a.btn-dark.btn-link.btn-close-detail(href="#") fermer