.menu-hamburger
  button(class="btn-menu-cancel")
    img(alt="bouton cancel" src="../../image/modal/error.png")
  img.menu-hamburger-user(src="../../image/accueil/user.jpg" alt="user image" width="100" height="100")
  h3.menu-hamburger-username RAZAFINDRAVOHITRA.T.Lioka
  a.btn-link.btn-link-menuhamburger(href="#")
    .menu-item
      img.menu-item-img(src="../../image/accueil/icone-statistique.png")
      p.menu-item-title statistique
  a.btn-link.btn-link-menuhamburger(href="#")
    .menu-item
      img.menu-item-img(src="../../image/accueil/icone-carte.png")
      p.menu-item-title carte
  a.btn-link.btn-link-menuhamburger(href="#")
    .menu-item
      img.menu-item-img(src="../../image/accueil/icone-point-de-vente.png")
      p.menu-item-title point de vente
