.modal-right.modal-sm.modal.modal-option
  .grid
    .grid__cell
      a.modal-option-item.btn-link.btn-link-option(href="#") Tous les points de vente
      a.modal-option-item.btn-link.btn-link-option(href="#") En rupture de stock
      a.modal-option-item.btn-link.btn-link-option(href="#") Etat de stock actuel
      a.modal-option-item.btn-link.btn-link-option(href="#") zone de travail employe
      a.btn-white.btn-link.btn-close-detail.btn-close-option(href="#") fermer