extends ../base/layout-connection.pug

block main

  .popup-background

  .popup-video

    .box-video

      embed(src="http://www.youtube.com/v/tFal2bXIbdQ" type="application/x-shockwave-flash" wmode="transparent" width="700" height="450")

  .box-image.js-box-image

    img.img-link(alt="image" src="./image/video-image/image01.jpg")

    

  