<div class="modal-background"></div>
<div class="modal-sm modal-second">
    <div class="grid">
        <div class="grid__cell">
            <h2 class="modal-title">Details de la vente</h2>
            <div class="modal-body">
                <div id="js-body-details">

                </div>
                </div><a class="btn-dark btn-close-second btn-link" href="#">fermer</a>
            </div>
        </div>
    </div>
</div>