<div class="modal-background-detail"></div>
<div class="modal-right modal-sm modal">
    <div class="grid">
        <div class="grid__cell">
            <h2 class="modal-title">détail</h2>
            <div class="modal-body">
                <div id="detail-body">
                </div>
                <a class="btn-dark btn-link btn-close-detail" href="#">fermer</a>
            </div>
        </div>
    </div>
</div>