<div class="modal-right modal-sm modal modal-option">
    <div class="grid">
        <div class="grid__cell"><a class="modal-option-item btn-link btn-link-option" href="#">Tous les points de vente</a><a class="modal-option-item btn-link btn-link-option" href="#">En rupture de stock</a><a class="modal-option-item btn-link btn-link-option" href="#">Etat de stock actuel</a><a class="modal-option-item btn-link btn-link-option" href="#">zone de travail employe</a><a class="btn-white btn-link btn-close-detail btn-close-option" href="#">fermer</a></div>
    </div>
</div>