
<div class="grid">
    <div class="grid__cell">
        <div class="popup popup-sm">
            <img class="popup-close" src="/image/popup/cancel.png" />
            <p class="popup_content">L'ajout a été effectué avec succès</p>
        </div>
    </div>
</div>