$black: #000 !default;

$white: #fff !default;

$primary-color: #0b3955;
$color-back: #3da3a2;
$info-color: #648a99;
$table-dark: #9eacbb;
$title-color-default: #4b4b4b;
$text-color: #5f5f5f;
$grey-fine: #d7d6d6;
$main-color: #e8e3e3;
$warning-dark: #d35400;
$warning-standard: #e67e22;
$warning: #f7941d;
$warning-light: #f1a03f;
$success: #2dc13b;
$success-dark: #01723b;
$success-light: #04a758;
$color-danger: #e14045;
$color-danger-light: #ea5c60;
